<h1>
  Bienvenue sur l'application de collaboration à la Base de données minéral et
  son site !
</h1>
<br />
<div id="content">
  <p>
    Cette page permet à toute personne d'aider à l'amélioration de la base de
    données et du site web sur les minéraux. Le savoir est quelque chose qui
    devrait être partagé au plus grand nombre. C'est dans cette volonté que
    l'idée de création d'une base de données minéral à vu le jour
  </p>
  <br />
  <h2>Comment collaborer ?</h2>
  <br />
  <p>
    Vous pouvez à votre échelle collaborée de diverses manières à ce projet.
  </p>
  <p>Nous proposons à travers cette interface que vous puissiez :</p>
  <ul>
    <li>
      Ajouter des informations aux sites en :
      <ul>
        <li>Proposant de nouveaux minéraux ;</li>
        <li>Proposant de nouvelles thématques pour une page ;</li>
      </ul>
    </li>
    <li>
      Modifier des information du site :
      <ul>
        <li>Proposant de modifier les informations des minéraux ;</li>
        <li>Proposant de modifier le contenu d'une page ;</li>
      </ul>
    </li>
    <li>
      Soummettre des suggestions pour améliorer :
      <ul>
        <li>la base de données ;</li>
        <li>le site web.</li>
      </ul>
    </li>
  </ul>
  <br />
  <p>
    Pour aiguiller l'utilisateur, des explications détaillées sont disponibles
    dans cette notice : "lien vers un fichier pdf"
  </p>
  <br />
</div>
