<h1>Add a mineral</h1>
<div>
  <br />
  <h3>
    Tu veux nous aider à rendre le plus quantitatif possible notre base de
    données minéral : Tu es au bonne endroit !
  </h3>
  <br />
  <h2>Comment ajouter un mineral ?</h2>
  <p>Rien de plus simple !!!</p>
  <ol>
    <li>
      Rempli dans le formulaire multi-onglets ci-dessous ce que tu connais du
      minéral que tu veux ajouter
    </li>
    <li>
      Veuillez à remplir les quelques champs obligatoires. Ne t'inquiète pas, tu
      ne pourras pas valider le formulaire si ces champs ne sont pas renseignés.
    </li>
    <li>Valide le formulaire</li>
    <ol></ol>
  </ol>
  <br />
  <h2>Formulaire d'ajout d'un minéral</h2>
  <app-form-onglets />
</div>
