<div id="content">
  <br />
  <div class="row">
    <div class="col-md-5 col-sm-8 col-xs-10 offset-xs-1">
      <div class="mb-3">
        <label for="modif-a-page-subject" class="form-label">Which page:</label>
        <select
          class="form-select"
          id="modif-a-page-subject"
          aria-label="Default select example"
          required
        >
          <option value="">---None---</option>
          <option value="What's a mineral">What's a mineral</option>
          <option value="Properties">Properties</option>
          <option value="System">&gt; Crystallin and class system</option>
          <option value="Mohs">&gt; Mohs Scale</option>
          <option value="Refraction">&gt; Refaction Index</option>
          <option value="Macle">&gt; Macle</option>
          <option value="Cleavage">&gt; Cleavage</option>
          <option value="Habitus">&gt; Habitus</option>
          <option value="Luster">&gt; Luster</option>
          <option value="Pleochroism">&gt; Pleochroism</option>
          <option value="Chemical Behavior">&gt; Chemical Behavior</option>
          <option value="Magnetism">&gt; Magnetism</option>
          <option value="Density">&gt; Density</option>
          <option value="Fluorescence">&gt; Fluorescence</option>
          <option value="Fusion Temperature">&gt; Fusion Temperature</option>
          <option value="Map of minerals">Map of minerals</option>
          <option value="List">List</option>
          <option value="About us">About us</option>
        </select>
      </div>
    </div>
    <div class="col-md-5 offset-md-1 col-sm-8 col-xs-10 offset-xs-1">
      <div class="mb-3">
        <label for="modif-a-page-subject" class="form-label"
          >Modification subject:</label
        >
        <select
          class="form-select"
          id="modif-a-page-subject"
          aria-label="Default select example"
          required
        >
          <option value="">---None---</option>
          <option value="Struture">Struture</option>
          <option value="Content">Content</option>
          <option value="Vocabulary">Vocabulary</option>
          <option value="New discovery">New discovery/Update</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 col-md-8 col-sm-10 col-xs-10 offset-xs-1">
      <div class="mb-3">
        <label for="modify-page-suggestion" class="col-md-7 form-label"
          >Suggestion:</label
        ><br />
        <textarea
          class="modify-page-suggestion"
          id="modify-page-suggestion"
        ></textarea>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-1 offset-3">
      <button mat-flat-button class="submit_button">Submit</button>
    </div>
    <div class="col-1 offset-2">
      <button mat-flat-button class="cancle_button">Cancel</button>
    </div>
  </div>
</div>
